/* CPSC 335-03 Project 2
Triple Sort
Group Members:
Eddie Huang
edhuang04@csu.fullerton.edu */

body {
  text-align: center;
  font-family: sans-serif;
}
#poresort-grid {
  background-color: black;
  
}

#mergesort-grid {
  background-color: black;
  
}

#quicksort-grid {
  background-color: black;
  
}