body {
  text-align: center;
  font-family: sans-serif;
}
#poresort-grid {
  background-color: black;
  
}

#mergesort-grid {
  background-color: black;
  
}

#quicksort-grid {
  background-color: black;
  
}